.square {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: gray;
    border-width: 1px;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    /* padding-top: ; */
}

.square:hover {
    background-color: brown;
    cursor: default;
}



.square-text {}